# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Build directory
dist/
build/

# dotenv environment variables
.env

# Vite build
.vite/
.vitest/

# MacOS files
.DS_Store

# Debug
.vscode/
*.swp

# Java/Maven/Spring Boot
target/
*.jar
*.war
*.ear

# Eclipse project files
.project
.classpath
.settings/


uploads/

ai_models/.env
ai_models/attributes_FINAL.pth
ai_models/Attributes_Types.csv
ai_models/bounding_box_FINAL.pth
ai_models/classification_FINAL.pth